.contact {
	margin-top: 60px;
	padding: 60px 0;
	background-color: $c_orange;
	&__container {}
	&__title {
		@extend %title;
		color: $c_white;
		text-align: center;
	}
	&__form {
		width: 860px;
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
		margin: 0 auto;
	}
}
.form {
	&__item {
		width: 420px;
		margin-bottom: 30px;
		position: relative;
	}
	&__item-input {
		width: 100%;
		background-color: transparent;
		border-bottom: 1px solid $c_white;
		font-size: 16px;
		line-height: 130%;
		color: $c_white;
		padding-bottom: 10px;
		outline: none;
		&:focus ~ .form__item-label,
		&:not(:placeholder-shown) ~ .form__item-label {
			top: -18px;
			font-size: 12px;
		}
	}
	&__item-label {
		position: absolute;
		left: 0;
		font-size: 16px;
		line-height: 130%;
		color: #FFE1C0;
	}
	&__row {
		width: 568px;
		display: flex;
		justify-content: space-between;
		margin-top: 10px;
	}
	&__checkbox-row {
		width: 420px;
		display: flex;
		justify-content: space-between;
	}
	&__checkbox-input input {
		width: 16px;
		height: 16px;
	}
	&__checkbox-label {
		width: 384px;
		font-size: 12px;
		line-height: 130%;
		color: #FFE1C0;
	}
	&__button {
		font-weight: 700;
		font-size: 18px;
		line-height: 130%;
		width: 128px;
		height: 47px;
		background-color: $c_white;
		color: $c_orange;
		border-radius: 5px;
		transition: all 0.3s ease;
		&:hover {
			background-color: $c_light;
		}
	}
}