//==============Шаблоны===============//
//Применение @extend %title; (свойста будут основными вверху)
%title_big {
	font-family: Oswald, sans-serif;
	font-weight: 600;
	font-size: 60px;
	line-height: 148%;
}
%title {
	font-family: Oswald, sans-serif;
	font-weight: 600;
	font-size: 36px;
	line-height: 147%;
	margin-bottom: 40px;
}
%title_min {
	font-weight: 700;
	font-size: 24px;
	line-height: 130%;
	color: #FF9825;
	margin-bottom: 7px;
}
%title_news {
	font-family: Oswald, sans-serif;
	font-weight: 600;
	font-size: 20px;
	line-height: 150%;
	color: $c_black;
}
%title_orange {
	font-weight: 700;
	font-size: 18px;
	line-height: 130%;
	color: #FF9825;
}