@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@600&family=Roboto:wght@400;700&display=swap");
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  border: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

a, a:visited {
  text-decoration: none;
  display: inline-block;
}

a:hover {
  text-decoration: none;
}

html, body {
  width: 100%;
  height: 100%;
  font-size: 100%;
  line-height: 1;
}

header, nav, main, section, aside, footer {
  display: block;
}

ul, ol, li {
  list-style: none;
}

img {
  vertical-align: top;
}

input::-ms-clear {
  display: none;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

label {
  cursor: pointer;
}

button, input[type=submit] {
  display: inline-block;
  cursor: pointer;
  -webkit-box-shadow: none;
          box-shadow: none;
  background: none;
  background-color: transparent;
}

button, input, textarea, select {
  font-family: inherit;
  font-size: inherit;
}

input:focus, input:active,
button:focus, button:active {
  outline: none;
}

h1, h2, h3, h4, h5, h6, p {
  font-size: inherit;
  font-weight: inherit;
  line-height: inherit;
}

.item__sum, .hero__title {
  font-family: Oswald, sans-serif;
  font-weight: 600;
  font-size: 60px;
  line-height: 148%;
}

.contact__title, .news__body-title, .training__body-title, .service__body-title {
  font-family: Oswald, sans-serif;
  font-weight: 600;
  font-size: 36px;
  line-height: 147%;
  margin-bottom: 40px;
}

.news__body-suptitle, .training__body-suptitle, .service__body-suptitle {
  font-weight: 700;
  font-size: 24px;
  line-height: 130%;
  color: #FF9825;
  margin-bottom: 7px;
}

.item__title-link {
  font-family: Oswald, sans-serif;
  font-weight: 600;
  font-size: 20px;
  line-height: 150%;
  color: #252525;
}

.color--orange,
.color--orange a {
  font-weight: 700;
  font-size: 18px;
  line-height: 130%;
  color: #FF9825;
}

body {
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: 400;
  color: #252525;
}

.wrapper {
  min-height: 100%;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.page {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

[class*=__container] {
  max-width: 1300px;
  margin: 0 auto;
  padding: 0 15px;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
}

.header {
  position: relative;
  background-color: #FF9825;
  min-height: 60px;
}
.header__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.header__logo {
  margin: 16px 0 15px 0;
}
.header__menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 15px;
}
.menu__list {
  min-width: 750px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.menu__item {
  position: relative;
}
.menu__item:hover .sub-menu__list {
  display: block;
}
.menu__link {
  color: #ffffff;
  font-size: 18px;
  line-height: 130%;
  -webkit-transition: -webkit-transform 0.2s linear;
  transition: -webkit-transform 0.2s linear;
  transition: transform 0.2s linear;
  transition: transform 0.2s linear, -webkit-transform 0.2s linear;
}
.menu__link:hover {
  display: inline-block;
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.active-menu {
  font-weight: 700;
}

.sub-menu__list {
  min-width: 250px;
  position: absolute;
  top: 27px;
  left: -15px;
  display: none;
  padding-top: 15px;
}
.sub-menu__item {
  background-color: rgba(28, 16, 1, 0.9);
  -webkit-box-shadow: 3px 3px 3px #FF9825;
          box-shadow: 3px 3px 3px #FF9825;
  -webkit-transition: background-color 0.3s ease;
  transition: background-color 0.3s ease;
}
.sub-menu__item:hover {
  background-color: #F08018;
}
.sub-menu__link {
  color: #ffffff;
  font-size: 16px;
  line-height: 130%;
  display: inline-block;
  padding: 15px;
}

.search__body {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #FF9825;
  min-height: 60px;
  display: none;
}
.search__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.search__logo {
  margin: 16px 0 15px 0;
}
.search__form {
  min-width: 750px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0 15px;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
}
.search__close-img {
  width: 22px;
  height: 22px;
}

.form__search-img {
  display: block;
}
.form__search-input {
  display: block;
  width: 708px;
  font-size: 20px;
  background-color: transparent;
  color: #ffffff;
  outline: none;
}
.form__search-input::-webkit-input-placeholder {
  color: #ffffff;
}
.form__search-input::-moz-placeholder {
  color: #ffffff;
}
.form__search-input:-ms-input-placeholder {
  color: #ffffff;
}
.form__search-input::-ms-input-placeholder {
  color: #ffffff;
}
.form__search-input::placeholder {
  color: #ffffff;
}

.active-form {
  display: block;
}

.hero {
  margin-top: 20px;
}
.hero__title {
  text-align: center;
}
.hero__subtitle {
  max-width: 860px;
  margin: 10px auto 0;
  font-size: 24px;
  line-height: 130%;
  text-align: center;
}
.hero__image {
  margin-top: 40px;
}
.hero__image-img {
  margin-left: -150px;
}

.service {
  margin-top: 120px;
}
.service__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.service__image-img {
  margin-left: -150px;
}
.service__body {
  width: 620px;
}
.service__body-item {
  font-size: 24px;
  line-height: 130%;
  position: relative;
  padding-left: 32px;
}
.service__body-item:not(:last-child) {
  margin-bottom: 30px;
}
.service__body-item::before {
  content: "";
  width: 12px;
  height: 12px;
  background-color: #FF9825;
  position: absolute;
  top: 10px;
  left: 0;
  border-radius: 50%;
}

.training {
  margin-top: 120px;
  background-color: #252525;
}
.training__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.training__body {
  width: 530px;
  color: #ffffff;
  margin: 60px 0;
}
.training__body-text {
  font-size: 16px;
  line-height: 130%;
  margin-bottom: 30px;
}
.training__body-button-btn {
  font-weight: 700;
  font-size: 18px;
  line-height: 130%;
  width: 157px;
  height: 47px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: #ffffff;
  background-color: #FF9825;
  border-radius: 5px;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.training__body-button-btn:hover {
  background-color: #F08018;
}
.training__advantages {
  width: 640px;
  color: #ffffff;
  margin: 193px 0 142px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.training__advantages-item {
  width: 210px;
  height: 151px;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.item__sum {
  color: #FF9825;
}
.item__text {
  font-size: 16px;
  line-height: 130%;
}

.news {
  margin-top: 60px;
}
.news__body-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 40px;
}
.news__body-title {
  margin-bottom: 0;
}
.news__body-button-btn {
  font-weight: 700;
  font-size: 18px;
  line-height: 130%;
  width: 152px;
  height: 47px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: #FF9825;
  border-radius: 5px;
  border: 1px solid #FF9825;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.news__body-button-btn:hover {
  color: #ffffff;
  background-color: #FF9825;
}
.news__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.news__content-item {
  width: 420px;
}
.news__content-item > :not(:last-child) {
  margin-bottom: 10px;
}
.news__content-item:hover > .item__image {
  opacity: 0.8;
}

.item__date {
  font-size: 14px;
  line-height: 130%;
  color: #959595;
}

.item--margin {
  margin-bottom: 20px;
}

.contact {
  margin-top: 60px;
  padding: 60px 0;
  background-color: #FF9825;
}
.contact__title {
  color: #ffffff;
  text-align: center;
}
.contact__form {
  width: 860px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0 auto;
}

.form__item {
  width: 420px;
  margin-bottom: 30px;
  position: relative;
}
.form__item-input {
  width: 100%;
  background-color: transparent;
  border-bottom: 1px solid #ffffff;
  font-size: 16px;
  line-height: 130%;
  color: #ffffff;
  padding-bottom: 10px;
  outline: none;
}
.form__item-input:not(:-moz-placeholder-shown) ~ .form__item-label {
  top: -18px;
  font-size: 12px;
}
.form__item-input:not(:-ms-input-placeholder) ~ .form__item-label {
  top: -18px;
  font-size: 12px;
}
.form__item-input:focus ~ .form__item-label, .form__item-input:not(:placeholder-shown) ~ .form__item-label {
  top: -18px;
  font-size: 12px;
}
.form__item-label {
  position: absolute;
  left: 0;
  font-size: 16px;
  line-height: 130%;
  color: #FFE1C0;
}
.form__row {
  width: 568px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 10px;
}
.form__checkbox-row {
  width: 420px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.form__checkbox-input input {
  width: 16px;
  height: 16px;
}
.form__checkbox-label {
  width: 384px;
  font-size: 12px;
  line-height: 130%;
  color: #FFE1C0;
}
.form__button {
  font-weight: 700;
  font-size: 18px;
  line-height: 130%;
  width: 128px;
  height: 47px;
  background-color: #ffffff;
  color: #FF9825;
  border-radius: 5px;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.form__button:hover {
  background-color: #FFE1C0;
}

.footer {
  background-color: #252525;
}
.footer__body {
  width: 1228px;
  margin: 60px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.footer__column {
  min-height: 216px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.footer__copy {
  font-size: 12px;
  line-height: 130%;
  color: #959595;
}
.footer__menu-list {
  min-height: 173px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.footer__menu-link {
  font-size: 18px;
  line-height: 130%;
  color: #ffffff;
}
.footer__menu-link:hover {
  text-decoration: underline;
}
.footer__contacts {
  width: 242px;
  min-height: 132px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.footer__contacts-address {
  font-size: 18px;
  line-height: 130%;
  color: #ffffff;
}
.footer__socials {
  width: 150px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}